{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <body class="bg-gray-100 text-steel">
        <!-- Title Section -->
        <section class="text-center py-8">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h1 class="text-5xl sm:text-7xl font-extrabold leading-tight text-gray-900 dark:text-steel mb-4">
                    ECE1181: Microcontrollers
                </h1>
            </div>
        </section>

        <!-- Button Section -->
        <section class="text-center py-8">
            <div class="max-w-screen-xl px-4 mx-auto flex flex-col items-center space-y-6">
                <div class="relative inline-block mb-6">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-0" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-12 rounded-lg shadow-lg text-4xl">
                        To Lab 0 >>
                    </a>
                </div>
                
                <!-- Dropdown Button Section -->
                <div class="relative inline-block w-auto sm:w-full">
                    <a href="/courses/ECE1181/previous-labs" class="bg-[#444444] text-white text-lg font-semibold py-3 px-8 rounded hover:bg-[#333333] focus:outline-none w-full sm:w-auto" id="dropdownToggle">
                        Previous Lab Pages
                    </a>
                </div>
            </div>
        </section>

        <!-- Divider -->
        <div class="blueclearseperator"></div>

        <!-- Post Section -->
        <section class="bg-cs-blue py-12">
            <div class="max-w-screen-xl px-4 mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-3 gap-6">
                    <!-- Post 1 -->
                    <a href="/courses/ECE1181/lab-guide" class="bg-[#555555] rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
                        <h3 class="text-2xl font-bold text-center mb-4">Lab Report Guide</h3>
                        <p class="text-steel text-center">Instructions on how to write a lab report, grading scale, and other helpful info!</p>
                    </a>

                    <!-- Post 2 -->
                    <a href="/courses/ECE1181/cheat-sheet" class="bg-[#555555] rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
                        <h3 class="text-2xl font-bold text-center  mb-4">Cheat Sheet</h3>
                        <p class="text-steel text-center">All the ARM, gdb, terminal, and nano commands and instructions you need to know.</p>
                    </a>

                    <!-- Post 3 -->
                    <a href="/courses/ECE1181/qa" class="bg-[#555555] rounded-lg shadow-lg p-6 transform hover:scale-105 transition duration-300">
                        <h3 class="text-2xl font-bold text-center mb-4">Troubleshooting</h3>
                        <p class="text-steel text-center">Yet to be implemented.</p>
                    </a>
                </div>
            </div>
        </section>

        <!-- Divider -->
        <div class="ublueclearseperator"></div>

        <div class="max-w-screen-xl px-4 py-[10vh]"></div>
    </body>
</section>

{% endblock %}
