{% extends 'base.html' %}
{% block content %}
<body class="bg-gray-100 dark:text-steel text-[#222222]">
    <!-- Blog Post Wrapper -->
    <div class="max-w-screen-md px-4 py-8 mx-auto">
        <!-- Thinner Centered Bar -->
        <div class="dark:bg-[#444444] bg-[#CCCCCC] rounded-3xl shadow-2xl dark:shadow-white p-6 mx-auto">
            <!-- Title Section -->
            <div class="text-center">
                <h1 class="text-6xl font-extrabold leading-tight text-cs-green">
                    Lab 2: Tooling Up
                </h1>
                <h2 class="text-2xl text-bold leading-tight text-cs-green">
                    Learning how to use makefiles and the gdb debugger
                </h1>
                 <!-- Separator -->
                <div class="h-px bg-cs-green my-6"></div>
                <a href="#overview" class="inline-block bg-cs-blue hover:bg-blue-700  hover:underline px-4 py-1 rounded-lg font-medium transition-all duration-300">
                    Overview
                </a> >>
                <a href="#instructions" class="inline-block bg-cs-blue hover:bg-blue-700 hover:underline px-4 py-1 rounded-lg font-medium transition-all duration-300">
                    Instructions
                </a> >>
                <a href="#conclusion" class="inline-block bg-cs-blue hover:bg-blue-700 hover:underline px-4 py-1 rounded-lg font-medium transition-all duration-300">
                    Conclusion
                </a> >>
                <a href="#code-given" class="inline-block bg-cs-blue hover:bg-blue-700 hover:underline px-4 py-1 rounded-lg font-medium transition-all duration-300">
                    Code Given
                </a> >>
                <a href="#troubleshooting" class="inline-block bg-cs-blue hover:bg-blue-700 hover:underline px-4 py-1 rounded-lg font-medium transition-all duration-300">
                    Troubleshooting
                </a>
            </div>

            <!-- Separator -->
            <div class="h-px bg-cs-green my-6"></div>

            <!-- Blog Content -->
            <div class="prose prose-lg mx-auto dark:text-steel text-[#222222]">
                <h1 id="overview" class="text-4xl font-extrabold">Overview</h1>
                <br/>
                <p class="leading-relaxed text-lg">
                    Welcome to Lab 2! Here, you will learn the basics of a makefile and how to use the debugger to learn more about your program. Both of these skills are CRUCIAL for your success in the course, and you will use both in every single lab after this one. If you don't understand something or want further clarification, let a TA know and we can help you out. Also, if you need a refresher on any of the skills you learned last lab session, you can always check the <a href="lab-1-getting-started" class="text-lg text-cs-blue hover:text-blue-700 underline">Lab 1</a> guide again!
                </p>
                <br/>
                <p class="leading-relaxed text-lg">
                    I am also experimenting with a feedback box this lab, which you should see on the right. <a class="underline">Please fill out the feedback box with any typos I made in these instructions, anything that doesn't make sense, or any comments you have about the material.</a> All feedback is anonymous.
                </p>
                <!-- Separator -->
                <div class="h-px bg-cs-green my-6"></div>

                <h1 id="instructions" class="text-4xl font-extrabold">Lab Instructions</h1>
                <br/>
                <p class="leading-relaxed text-lg italic">
                    Code from the book can be found in the <a href="#code-given" class="text-lg text-cs-blue hover:text-blue-700 underline">Code Given</a> section at the bottom of this guide.
                </p>
                <br/>
                <h1 class="text-2xl text-bold underline text-cs-green">Step 1</h1>                
                <p class="leading-relaxed text-lg">
                    First, read through pages 53-56 in the Smith textbook (this is the beginning of chapter 3 to the "GDB" section for those without page numbers) and follow the instructions on creating a makefile. This is similar to the "build" file in the last lab, but it will be much easier to edit if needed. You will likely reuse this same file in every lab from here on out, so make sure it's working properly before continuing. 
                </p>
                <br/>
                <p class="leading-relaxed text-lg">
                    Next, either a make copy of your "HelloWorld.s" (may also be called "main.s") file from Lab 1 or just edit it directly. You want to change the text at the bottom so that it now says <code class="bg-cs-blue px-1 rounded shadow-lg text-base">Hello YourFirstName YourLastName! (built from a makefile)</code>. Be sure to update the length of the string in R2!
                </p>
                <br/>
                <p class="leading-relaxed text-lg">
                    If everything went correctly, you should be able to just type in <code class="bg-cs-blue px-1 rounded shadow-lg text-base">make</code> into the terminal to build the file. If no error pops up on the screen, odds are it worked. If not, ask a TA for assistance.
                </p>
                <br/>
                <p class="leading-relaxed text-lg font-extrabold">
                    Take a screenshot of your terminal showing that you built the file using <code class="bg-cs-blue px-1 rounded shadow-lg text-base">make</code> and that running <code class="bg-cs-blue px-1 rounded shadow-lg text-base">./HelloWorld</code> (or whatever your filename is) gives the output "Hello YourFirstName YourLastName! (built from a makefile)".
                </p>
                <br/>
                <h1 class="text-2xl text-bold underline text-cs-green">Step 2</h1>
                <p class="leading-relaxed text-lg">
                    Create a new file called "movexamps.s" and fill it with the code from the <a href="#code-given" class="text-lg text-cs-blue hover:text-blue-700 underline">Code Given</a> section.
                </p>
                <br/>
                <p class="leading-relaxed text-lg">
                    You don't need to fully understand how this code works at this point, but it's helpful to at least know what it's doing. The <code class="bg-cs-blue px-1 rounded shadow-lg text-base">MOV</code> command is placing the value "0x6E" in the register R2 in the rightmost 16 bits. The <code class="bg-cs-blue px-1 rounded shadow-lg text-base">MOVT</code> command is placing the value "0x4F" in the register R2 in the leftmost 16 bits. The reason we cannot do this with one command is that the MOV command can only take up to eight bits (one byte) as immediate input. Thus, to make the large value "0x4F006E", we need to separate it into two commands. The way we do it here is an uncommon way to do it, and you likely won't see the <code class="bg-cs-blue px-1 rounded shadow-lg text-base">MOVT</code> instruction again in this course. You will soon learn about the <code class="bg-cs-blue px-1 rounded shadow-lg text-base">LDR</code> instruction, which is much more versatile.
                </p>
                <br/>
                <p class="leading-relaxed text-lg">
                    You will also want to update your "makefile" so that everything named "main" should be replaced with "movexamps". There should be 3 updates total. Make sure to keep the same file extention (i.e. "main.o" should become "movexamps.o" and "main" should become "movexamps").
                </p>
                <br/>
                <p class="leading-relaxed text-lg">
                    Follow the instructions on pages 56-63 (from "GDB" to "Source Control...") in the Smith book. You will become VERY familiar with this process from now on. Commit it to memory, as you will use it in every lab from here on out. As a summary:
                </p>
                <br/>
                <ol class="list-decimal ml-6 text-lg space-y-2">
                    <li>Use the command <code class="bg-cs-blue px-1 rounded shadow-lg text-base">make -B DEBUG=1</code> to make your file with the debugger enabled. If you do not include "DEBUG=1", then you cannot use the debugger (gdb) on your program. The "-B" just forces your file to re-make. Without it, you may get the message "file is already up to date," which prevents debugging symbols from appearing in the executable.</li>
                    <li>Type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">gdb FileNameWithoutExtention</code> (an extention is the .s, .o, etc). I shouldn't have to say this, but replace "FileNameWithoutExtention" with the actual name of your file (like "movexamps").This should show the debug shell, denoted by the "(gbd)" at the beginning of the line.</li>
                    <li>Type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">b _start</code> to set a breakpoint to the start of your program. You can see this breakpoint directly in the code. To set different breakpoints, simply change the command to reflect the name of the breakpoint you want to set.</li>
                    <li>Type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">r</code> to run the program. It will automatically stop at your first breakpoint. In this case, it is the start of your program.</li>
                    <li>Here, you will see a line like <code class="bg-cs-blue px-1 rounded shadow-lg text-base">_start: MOV R2, #0x6E</code>. To EXECUTE this line (it has not been done yet), type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">s</code>, which stands for "step." Every time you type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">s</code>, it will execute one line of code. Do this as many times as needed to get where you want (or set a separate breakpoint).</li>
                    <li>At any time, type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">i r</code> (for "inspect registers") to check what values are stored in all the registers. This screen also contains a lot more helpful information, which you will learn about more in the coming labs.</li>
                    <li>You can also type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">x /4ubfx MemoryAddress</code> to check the contents of the memory at a specific location. You will learn more about this in a later lab.</li>
                    <li>To quit out of the (gbd) shell, type <code class="bg-cs-blue px-1 rounded shadow-lg text-base">q</code> or <code class="bg-cs-blue px-1 rounded shadow-lg text-base">quit</code>. If it pulls up a yes/no prompt, say <code class="bg-cs-blue px-1 rounded shadow-lg text-base">y</code>.</li>
                </ol>
                <br/>
                <p class="leading-relaxed text-lg">
                    Now, open up your "movexamps.s" file and change the code so that the first four digits of your SMUID appear in the register. So, if your SMUID is 0x12345678, you want it to appear in R2 as 0x120034. You should only need to change two numbers. <a class="italic">Make sure to <code class="bg-cs-blue px-1 rounded shadow-lg text-base">make</code> your file again after every edit.</a> Next, use the debug protocol listed above to run this system and show that the value of R2 is 0x120034 (or whatever your ID is). <a class="font-extrabold">Take a screenshot showing the debug process and the first digits of your SMUID in R2.</a>
                </p>
                <br/>
                <h1 class="text-2xl text-bold underline text-cs-green">Step 3</h1>
                <p class="leading-relaxed text-lg">
                    Update your code to place the same ID number into 4 different registers (R2-R5). This can be done with the following code, where the numbers are from your SMUID like before (using 0x12345678 as example):
                </p>
                <br/>
                <pre class="dark:bg-gray-600 bg-gray-400 rounded-lg p-4 shadow-2xl overflow-auto">
    MOV R2, #0x34 
    MOVT R2, #0x12 
    MOV R3, #0x34 
    MOVT R3, #0x12 
    MOV R4, #0x34 
    MOVT R4, #0x12 
    MOV R5, #0x34 
    MOVT R5, #0x12 </pre>
                <br/>
                <p class="leading-relaxed text-lg">
                    Next, you want to add a breakpoint to another line. Add a breakpoint tag (hint: this is what <code class="bg-cs-blue px-1 rounded shadow-lg text-base">_start</code> is, but it can be any name) before one of the MOV commands (besides the R2 one). Use the debugging procedure you learned in Step 2 to create a breakpoint at your new tag, run to it, and step over the lines where it is placed.
                </p>
                </br>
                <p class="leading-relaxed text-lg">
                    You also want to display the contents of the registers AND the contents of memory at the location of your breakpoint (using the command <code class="bg-cs-blue px-1 rounded shadow-lg text-base">x /4ubfi [name of your breakpoint]</code> without the brackets). <a class="font-extrabold">Take a screenshot of your terminal, showing the process of you creating a breakpoint, running to it, stepping over a few lines, and displaying both the registers and memory.</a>
                </p>
                </br>
                <!-- Separator -->
                <div class="h-px bg-cs-green my-6"></div>
                <h1 id="conclusion" class="text-4xl font-extrabold">Conclusion</h1>
                <br/>
                <p class="leading-relaxed text-lg">
                    Congratulations on finishing Lab 2! I hope this one was a bit quicker than the last and that you are feeling more comfortable with the syntax of ARM. In this lab, you learned how to build files with the special "makefile," load large numbers into registers, and use the debugger (gdb) to analyze your code while it is running. If you have any questions, be sure to ask a TA. We also have office hours if you have more questions. For Cooper's office hours, email him at cshapard@smu.edu to set up a meeting location. Be sure to turn in your lab report before next lab, and have a great rest of your day.
                </p>
                <br/>
                <!-- Separator -->
                <div class="h-px bg-cs-green my-6"></div>
                <h1 id="code-given" class="text-4xl font-extrabold">Code Given</h1>
                <br/>
                <p class="leading-relaxed text-lg">
                    Code is derived from Stephen Smith's Raspberry Pi Assembly Language Programming book, modified to fit the needs of this course. Credit belongs to the original author.
                </p>
                <br/>
                <h1 class="text-2xl text-bold underline text-cs-green">makefile</h1>
                <p class="leading-relaxed text-lg">
                    (<a class="font-bold">WARNING: Make sure that the lines that start with "as" and "ld" both have a TAB before them. Copying and pasting will replace it with four spaces, which will not work.</a>):
                </p>
                <br/>
                <pre class="dark:bg-gray-600 bg-gray-400 rounded-lg p-4 shadow-2xl overflow-auto">
OBJS = movexamps.o

ifdef DEBUG
DEBUGFLGS = -g
else
DEBUGFLGS =
endif

%.o : %.s
    as $(DEBUGFLGS) $< -o $@
movexamps: $(OBJS)
    ld -o movexamps $(OBJS)</pre>
                <br/>
                <h1 class="text-2xl text-bold underline text-cs-green">movexamps.s</h1>
                <pre class="dark:bg-gray-600 bg-gray-400 rounded-lg p-4 shadow-2xl overflow-auto">
@
@ Examples of the MOV instruction.
@
.global _start      @ Provide program starting address
                    @ Load R2 with 0x4F006E first using MOV and MOVT
_start: 
    MOV R2, #0x6E
    MOVT R2, #0x4F

    MOV R0, #0      @ Use 0 return code
    MOV R7, #1      @ Service command code 1
    svc 0           @ Call Linux to terminate</pre>
                <br/>
                <!-- Separator -->
                <div class="h-px bg-cs-green my-6"></div>
                <h1 id="troubleshooting" class="text-4xl font-extrabold">Troubleshooting</h1>
                <br/>
                <p class="leading-relaxed text-lg">
                    Code is derived from Stephen Smith's Raspberry Pi Assembly Language Programming book, modified to fit the needs of this course. Credit belongs to the original author.
                </p>
                <ol class="list-decimal ml-6 text-lg space-y-2">
                    <li>Check the filename. Is it "moveexamps" or "movexamps"? Either works, but it has to stay consistent throughout the program.</li>
                    <li>Did you write "movexamp.s" instead of "movexamps.s"? This is the most common mistake we see.</li>
                    <li>If you do <code class="bg-cs-blue px-1 rounded shadow-lg text-base">gdb [filename]</code> and the (gdb) shell says "(no debugging symbols found)" or something like that, you likely forgot to enable debugging with the command <code class="bg-cs-blue px-1 rounded shadow-lg text-base">make -B DEBUG=1</code>.</li>
                    
            </div>
        </div>
    </div>
</body>
{% endblock %}


<!--
                <h2>Blockquote Example</h2>
                <blockquote class="border-l-4 border-cs-blue italic pl-4 text-cs-green">
                    "This is an example of a blockquote. It's perfect for highlighting important points or quotes."
                </blockquote>

                <h2>Code Snippet Example</h2>
                <p>
                    Below is an example of a simple Python function:
                </p>
                <pre class="dark:bg-gray-600 bg-gray-400 rounded-lg p-4 shadow-2xl overflow-auto">
def greet(name):
    return f"Hello, {name}!"

print(greet("World"))
                </pre>


<code class="bg-cs-blue px-1 rounded shadow-lg text-base">

</code>
-->