{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <body class="bg-gray-100 text-steel">
        <!-- Title Section -->
        <section class="text-center py-8">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h1 class="text-5xl sm:text-7xl font-extrabold leading-tight text-gray-900 dark:text-steel mb-4">
                    Previous ECE1181 Labs
                </h1>
            </div>
        </section>

        <!-- Divider -->
        <div class="blueclearseperator"></div>
        <section class="bg-cs-blue py-12">
            <div class="max-w-screen-xl px-4 mx-auto">
                <!-- Button Section -->
                <section class="text-center py-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-32 sm:px-32 px-8">
                        <!-- Button 1 -->
                        <div class="relative">
                            <a href="/courses/ECE1181/lab-1-getting-started" class="relative block bg-gradient-to-b from-[#666666] to-[#555555] hover:scale-105 transform transition duration-300 text-white font-bold py-4 px-6 rounded-lg shadow-lg">
                                <h3 class="text-4xl">Lab 1: Getting Started</h3>
                                <div class="h-px bg-cs-green mt-2"></div>
                                <p class="text-lg font-medium mt-2">Learn the basics of the command line, how to connect to your Red Pitaya, and how to build and run files.</p>
                            </a>
                        </div>
                        <!-- Button 2 -->
                        <div class="relative">
                            <a href="/courses/ECE1181/lab-2-tooling-up" class="relative block bg-gradient-to-b from-[#666666] to-[#555555] hover:scale-105 transform transition duration-300 text-white font-bold py-4 px-6 rounded-lg shadow-lg">
                                <h3 class="text-4xl">Lab 2: Tooling Up</h3>
                                <div class="h-px bg-cs-green mt-2"></div>
                                <p class="text-lg font-medium mt-2">Learn some basic ARM Assembly commands, how to use the debugger, and how to read registers and memory.</p>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <!-- Divider -->
        <div class="ublueclearseperator"></div>



        <div class="max-w-screen-xl px-4 py-[10vh]"></div>
    </body>
</section>

{% endblock %}
