{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <body class="bg-gray-100 text-steel">
        <!-- Title Section -->
        <section class="text-center py-8">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h1 class="text-5xl sm:text-7xl font-extrabold leading-tight text-gray-900 dark:text-steel mb-4">
                    Previous ECE1181 Labs
                </h1>
            </div>
        </section>

       <!-- Divider -->
<div class="blueclearseperator"></div>
<section class="bg-cs-blue py-12">
    <div class="max-w-screen-xl px-4 mx-auto">
        <!-- Button Section -->
        <section class="text-center py-8">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                <!-- Button 1 -->
                <div class="relative">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-2-tooling-up" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-8 rounded-lg shadow-lg">
                        <h3 class="text-2xl">Lab 2</h3>
                        <p class="text-sm font-medium mt-2">Tooling Up</p>
                    </a>
                </div>
                <!-- Button 2 -->
                <div class="relative">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-3-getting-started" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-8 rounded-lg shadow-lg">
                        <h3 class="text-2xl">Lab 3</h3>
                        <p class="text-sm font-medium mt-2">Getting Started</p>
                    </a>
                </div>
                <!-- Button 3 -->
                <div class="relative">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-4-advanced-topics" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-8 rounded-lg shadow-lg">
                        <h3 class="text-2xl">Lab 4</h3>
                        <p class="text-sm font-medium mt-2">Advanced Topics</p>
                    </a>
                </div>
                <!-- Button 3 -->
                <div class="relative">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-4-advanced-topics" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-8 rounded-lg shadow-lg">
                        <h3 class="text-2xl">Lab 4</h3>
                        <p class="text-sm font-medium mt-2">Advanced Topics</p>
                    </a>
                </div>
                <!-- Button 3 -->
                <div class="relative">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-4-advanced-topics" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-8 rounded-lg shadow-lg">
                        <h3 class="text-2xl">Lab 4</h3>
                        <p class="text-sm font-medium mt-2">Advanced Topics</p>
                    </a>
                </div>
                <!-- Button 3 -->
                <div class="relative">
                    <span class="absolute -inset-2 rounded-lg bg-gradient-to-tl from-cs-green to-cs-blue blur-lg opacity-100 -z-10"></span>
                    <a href="/courses/ECE1181/lab-4-advanced-topics" class="relative block bg-gradient-to-br from-cs-green to-cs-blue hover:scale-105 transform transition duration-300 text-white font-bold py-6 px-8 rounded-lg shadow-lg">
                        <h3 class="text-2xl">Lab 4</h3>
                        <p class="text-sm font-medium mt-2">Advanced Topics</p>
                    </a>
                </div>
                <!-- Add more buttons as needed -->
            </div>
        </section>
    </div>
</section>
<!-- Divider -->
<div class="ublueclearseperator"></div>


        <div class="max-w-screen-xl px-4 py-[10vh]"></div>
    </body>
</section>

{% endblock %}
