{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <body class="bg-gray-100 text-steel">
        <!-- Title Section -->
        <section class="text-center py-8">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h1 class="text-5xl sm:text-7xl font-extrabold leading-tight text-gray-900 dark:text-steel mb-4">
                    Previous ECE1181 Labs
                </h1>
            </div>
        </section>
	<!-- Divider -->
        <div class="blueclearseperator"></div>

        <section class="bg-cs-blue py-12">
            <div class="max-w-screen-xl px-4 mx-auto">
                <section class="pt-1 pb-12 px-8">
                    <div class="max-w-screen-xl mx-auto px-4">
                        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 text-gray-900">
                            
                           <!-- Button 1 --> 
                            <a href="/courses/ECE1181/lab-0" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-b from-[#666666] to-[#555555] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                                <div class="p-6">
                                    <h3 class="text-2xl font-bold text-center text-steel">Lab 0: Setup and Linux</h3>
                                    <hr class="my-4 border-gray-600">
                                    <p class="text-lg text-center font-medium mt-2 text-steel">Red Pitaya setup, Linux commands, and file management</p>
                                </div>
                            </a>

                            <!-- Button 2 --> 
                            <a href="/courses/ECE1181/lab-1" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-b from-[#666666] to-[#555555] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                                <div class="p-6">
                                    <h3 class="text-2xl font-bold text-center text-steel">Lab 1: Intro to ARM</h3>
                                    <hr class="my-4 border-gray-600">
                                    <p class="text-lg text-center font-medium mt-2 text-steel">Red Pitaya setup, Linux commands, and file management</p>
                                </div>
                            </a>

                            <!-- Button 3 --> 
                            <a href="/courses/ECE1181/lab-2" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-b from-[#666666] to-[#555555] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                                <div class="p-6">
                                    <h3 class="text-2xl font-bold text-center text-steel">Lab 2: MOV and ADD</h3>
                                    <hr class="my-4 border-gray-600">
                                    <p class="text-lg text-center font-medium mt-2 text-steel">Moving, Adding, Shifting, and the Debugger</p>
                                </div>
                            </a>

                            <!-- Button 4 --> 
                            <a href="/courses/ECE1181/lab-3" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-b from-[#666666] to-[#555555] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                                <div class="p-6">
                                    <h3 class="text-2xl font-bold text-center text-steel">Lab 3: Memory</h3>
                                    <hr class="my-4 border-gray-600">
                                    <p class="text-lg text-center font-medium mt-2 text-steel">Loading, Storing, Endianness, and Indexing</p>
                                </div>
                            </a>

                            <!-- Button 5 --> 
                            <a href="/courses/ECE1181/lab-4" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-b from-[#666666] to-[#555555] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                                <div class="p-6">
                                    <h3 class="text-2xl font-bold text-center text-steel">Lab 4: CPSR and Literal Pools</h3>
                                    <hr class="my-4 border-gray-600">
                                    <p class="text-lg text-center font-medium mt-2 text-steel">Title says it all</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </section>
	<!-- Divider -->
        <div class="ublueclearseperator"></div>



        <div class="max-w-screen-xl px-4 py-[10vh]"></div>
    </body>
</section>

{% endblock %}
