{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <body class="bg-gray-100 text-steel">
        <!-- Title Section -->
        <section class="text-center py-8 bg-gradient-to-t from-cs-blue to-[#576769]">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h1 class="text-5xl sm:text-7xl font-extrabold leading-tight text-gray-900 dark:text-steel mb-4">
                    About CoopShap
                </h1>
            </div>
        </section>

        <!-- Divider -->
        <div class="ublueclearseperator"></div>

        <body class="bg-gray-100 dark:text-steel text-[#222222]">
            <!-- Blog Post Wrapper -->
            <div class="max-w-screen-md px-4 py-8 mx-auto">
                <!-- Thinner Centered Bar -->
                <div class="dark:bg-[#444444] bg-[#CCCCCC] rounded-3xl shadow-2xl dark:shadow-white p-6 mx-auto">
                    <div class="prose prose-lg mx-auto dark:text-steel text-[#222222]">
                        <p class="leading-relaxed text-lg">Hello, my name is [DELETED], and CoopShap is my personal portfolio page. It is a mix between showing off the cool things I have done and sharing my reflections after finishing a project. It also doubles as a place to host the labs I wrote for the courses I TA in my University.</p><br/>
                        <p class="leading-relaxed text-lg">Feel free to check out the cool personal projects I work on as I learn more about becoming an electrical design engineer. I am always looking to collaborate or receive feedback, so if you want to contact me, you can email me at <code class="bg-cs-blue px-1 rounded shadow-lg text-base">coopershapard(at)duck.com</code> (@ removed to prevent scraping).</p><br>
                        <p class="leading-relaxed text-lg">CoopShap Shop coming soon!</p>
                    </div>
                </div>
            </div>
        </body>
    </body>
</section>
{% endblock %}
