{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <div class="max-w-screen-xl px-4 py-8 mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Text Section (Title on the left for large screens, centered for small screens) -->
            <div class="text-center md:text-left">
                <h1 class="text-4xl sm:text-6xl font-extrabold leading-tight text-gray-900 dark:text-steel">
                    <div class="inner-headings">
                        <span>
                          CoopShap <br />
                          ComputerScience <br />
                          CircuitSynthesis <br />
                          CyberSecurity <br />
                          CourtStenography <br />
                          ChordStructure <br />
                          CoopShap <br />
                          CS <br />
                        </span>
                    </div>
                </h1>
                <h2 class="text-2xl sm:text-3xl mt-4 font-light text-gray-900 dark:text-steel">
                    Portfolio and More, v2.4.1
                </h2>
            </div>
    
            <!-- Image Section (Logo on the right for large screens, centered and smaller for small screens) -->
            <div class="flex justify-center md:justify-end">
                <img src="/static/images/coopshaplogo-deep.png" alt="Main Image" class="w-3/4 sm:w-1/2 md:w-full max-w-xl rounded-none shadow-none">
            </div>
        </div>
    </div>
    
    <!-- Seperator -->
    <div class="blueclearseperator"></div>
    
    <!-- Second Section -->
    <div class="bg-cs-blue text-steel py-8">
        <div class="max-w-screen-xl px-4 mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Clickable Image Section -->
            <a href="https://github.com/cshapard26/backlit-macropad" class="order-2 md:order-1 flex justify-center">
                <img src="/static/images/featured/backlit-macropad.png" alt="Clickable Image" class="w-3/4 sm:w-1/2 md:w-full max-w-lg rounded-lg transform hover:scale-105 transition-transform duration-300 shadow-2xl">
            </a>
    
            <!-- Text Section -->
            <div class="order-1 md:order-2 text-center md:text-left space-y-4">
                <h1 class="text-3xl sm:text-4xl font-bold">
                    Custom Backlit Macropad
                </h1>
                <p class="text-lg sm:text-xl font-light">
                    <br/>
                    The custom backlit macropad is my first end-to-end personal hardware project designed to host a keyboard-building event for students on campus.
                    <br/><br/>
                    The PCB was designed from scratch in Altium, manufactured, and reflow soldered by hand. It has eight SMD components which give it a programmable backlighting color. The case is laser cut from various materials.
                    <br/><br/>
                     It consists of four programmable keys with firmware written for QMK compatibility. Standard operation is Previous Track, Pause/Play, Next Track, and Mute.
                    <br/><br/>
                </p>
                <a href="https://github.com/cshapard26/backlit-macropad" class="inline-block text-steel bg-cs-green hover:bg-blue-700 hover:underline px-6 py-3 rounded-lg font-medium transition-all duration-300 shadow-xl">
                    Go give it a ⭐ on GitHub! →
                </a>
            </div>
        </div>
    </div>

     <!-- Seperator -->
     <div class="ublueclearseperator"></div>

   <!-- Third Section -->
   <div class="max-w-screen-xl px-4 py-8 sm:py-16 mx-auto text-center section-container min-h-[100vh] sm:min-h-[120vh]">
    <h1 class="text-4xl font-bold mb-4 text-gray-900 dark:text-steel">Book Folding Commissions</h1>
        <div class="text-center space-y-4 py-4">
            <p class="text-lg mb-4 sm:mb-8 text-gray-900 dark:text-steel">
                Book folding is the art of cutting and folding the pages of a book to bring out a three-dimensional image, and it is one of my favorite hobbies. They say a picture is worth a thousand words, so why not turn a thousand words into a picture?
                <br/><br/>
                Due to interest in my art, I am open to commissions and would happily take on any project you have in mind.
                <br/><br/>
                <a href="/projects/book-folding" class="text-cs-green hover:text-cs-blue hover:underline px-6 py-3 rounded-lg font-medium transition-all duration-300">
                    Learn More →
                </a>
            </p>
        </div>

        <!-- Scrolling arrangement for large screens -->
        <div class="hidden lg:flex justify-center gap-2 sm:gap-4">
            <!-- Left Column -->
            <div class="group overflow-hidden rounded-lg max-h-80 sm:max-h-full ">
                <div class="scroll-column scroll-up overflow-y-auto">
                    <img src="/static/images/featured/books/risnerbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/crumbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/denmanbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/jonesbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/brownbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                </div>
            </div>
            <!-- Middle Column -->
            <div class="group overflow-hidden rounded-lg max-h-80 sm:max-h-full">
                <div class="scroll-column scroll-down overflow-y-auto">
                    <img src="/static/images/featured/books/rockclimbbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/belabook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/papabook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/jontebook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/gmabook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                </div>
            </div>
            <!-- Right Column -->
            <div class="group overflow-hidden rounded-lg max-h-80 sm:max-h-full">
                <div class="scroll-column scroll-up overflow-y-auto">
                    <img src="/static/images/featured/books/hennekebook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/rolandobook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/willinghambook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/bookerbook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                    <img src="/static/images/featured/books/malfoybook.webp" alt="Book Fold" class="max-h-40 sm:max-h-full object-contain">
                </div>
            </div>
        </div>

        <!-- Still image for small screens -->
        <a href="/bookfolding" 
            class="order-2 md:order-1 flex justify-center items-center lg:hidden w-full overflow-visible">
            <img src="/static/images/featured/books/crumbook.webp" alt="Clickable Image" 
                class="w-3/4 sm:w-1/2 md:w-full max-w-lg rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 object-contain shadow:2xl dark:shadow-white">
        </a>
    </div>

    <div class="max-w-screen-xl px-4 py-4"></div>

    
    <!-- Seperator -->
    <div class="greenclearseperator"></div>

    <!-- Fourth Section -->
    <!-- Second Section -->
    <div class="bg-cs-green text-gray-900 py-8">
        <div class="max-w-screen-xl px-4 mx-auto grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
            <!-- Clickable Image Section -->
            <a href="https://github.com/cshapard26/steno-anki-engine" class="order-2 md:order-1 flex justify-center">
                <img src="/static/images/featured/steno-anki-title.webp" alt="Clickable Image" class="w-3/4 sm:w-1/2 md:w-full max-w-lg rounded-lg transform hover:scale-105 transition-transform duration-300 shadow-2xl">
            </a>
    
            <!-- Text Section -->
            <div class="order-1 md:order-2 text-center md:text-left space-y-4">
                <h1 class="text-3xl sm:text-4xl font-bold">
                    Steno-Anki Engine
                </h1>
                <p class="text-lg sm:text-xl font-light">
                    <br/>
                    Steno-Anki engine is a CLI tool that efficiently parses, decodes, and creates stenographic briefs to export in a format that Anki natively supports.
                    <br/><br/>
                    Originally built to manage Clippy2 files for Plover, it was later extended to support custom dictionaries, phoneticize results, and use a fine-tuned GPT model to generate custom briefs.
                    <br/><br/>
                    Useful for both beginning and advanced stenographers to help improve speed and reduce the toil of brief creation and memorization.
                    <br/><br/>
                </p>
                <a href="https://github.com/cshapard26/steno-anki-engine" class="inline-block bg-cs-blue hover:bg-blue-700 hover:underline px-6 py-3 rounded-lg font-medium transition-all duration-300 shadow-xl">
                    Go give it a ⭐ on GitHub! →
                </a>
            </div>
        </div>
    </div>


    <!-- Seperator -->
    <div class="ugreenclearseperator"></div>


    <div class="max-w-screen-xl px-4 py-[10vh]"></div>

</section>

{% endblock %}
