{% extends 'base.html' %}
{% block content %}
<section class="text-steel">
    <body class="bg-gray-100 text-steel">
        <!-- Title Section -->
        <section class="text-center py-8 bg-gradient-to-t from-cs-blue to-[#576769]">
            <div class="max-w-screen-xl px-4 mx-auto">
                <h1 class="text-5xl sm:text-7xl font-extrabold leading-tight text-gray-900 dark:text-steel mb-4">
                    Projects by CoopShap
                </h1>
            </div>
        </section>

        <!-- Divider -->
        <div class="ublueclearseperator"></div>

        <section class="text-center py-8">
            <div class="max-w-screen-xl px-4 mx-auto flex flex-col items-center space-y-6">
                <div class="relative inline-block mb-6">

                    <p class="text-xl text-gray-800 dark:text-steel">
                        <a class="inline-block bg-cs-blue px-4 py-1 rounded-lg font-medium hover:scale-105 transition duration-300 border-[#333333] border">Hardware</a> 
                        <a class="inline-block px-2 py-1"></a>     
                        <a class="inline-block bg-cs-green px-4 py-1 rounded-lg font-medium hover:scale-105 transition duration-300 border-[#333333] border">Software</a>
                        <a class="inline-block px-2 py-1"></a>     
                        <a class="inline-block text-gray-800 bg-[#BBBDC2] px-4 py-1 rounded-lg font-medium hover:scale-105 transition duration-300 border-[#333333] border">Other</a>
                    </p>
                </div>
            </div>
        </section>


        <!-- Post Section -->
<section class="pt-1 pb-12 px-8">
    <div class="max-w-screen-xl mx-auto px-4">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 text-gray-900">
            <!-- Post 1 -->
            <a href="/projects/the-coopshap-story" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-tr from-cs-blue to-cs-green border-l-4 border-b-4 border-[#444444] overflow-hidden">
                <img src="/static/images/featured/raspberry-pi-sticker.jpg" alt="Q&A" class="w-full h-52 object-cover">
                <div class="p-6">
                    <h3 class="text-2xl font-bold text-center dark:text-steel">Building a CoopShap</h3>
                    <hr class="my-4 border-gray-600">
                    <p class="text-center text-sm dark:text-steel">How I made and hosted this website using just a Raspberry Pi.</p>
                        <p class="text-center text-sm dark:text-steel mt-2">A mix of hardware and software, frontend and backend. A full stack project.</p>
                </div>
            </a>

            <!-- Post 2 -->
            <a href="/projects/magnet-game" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-t from-steel to-[#444444] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                <img src="/static/images/featured/mg/magnet-game-arrows.png" alt="Q&A" class="w-full h-52 object-cover">
                <div class="p-6">
                    <h3 class="text-2xl font-bold text-center">Lodec</h3>
                    <hr class="my-4 border-gray-600">
                    <p class="text-center text-sm ">An E&M based sokoban puzzle game that is more than meets the eye.</p>
                    <p class="text-center text-sm mt-2">Game in progress. Click to see current dev logs and learn about the game.</p>
                </div>
            </a>

            <!-- Post 3 -->
            <a href="https://github.com/cshapard26/steno-anki-engine" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-t from-cs-green to-[#444444] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                <img src="/static/images/featured/steno-anki-title.webp" alt="Q&A" class="w-full h-52 object-cover">
                <div class="p-6">
                    <h3 class="text-2xl font-bold text-center dark:text-steel">Steno Anki Engine</h3>
                    <hr class="my-4 border-gray-600">
                    <p class="text-center text-sm dark:text-steel">A CLI tool to parse, decode, and suggest stenographic briefs.</p>
                    <p class="text-center text-sm dark:text-steel mt-2">Export in a format built for Anki, find ideal briefs, clean Clippy2 data, and more. Go give it a ⭐ on GitHub!</p>
                </div>
            </a>

            <!-- Post 4 -->
            <a href="https://github.com/cshapard26/backlit-macropad" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-t from-cs-blue to-[#444444] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                <img src="/static/images/featured/backlit-macropad.png" alt="Q&A" class="w-full h-52 object-cover">
                <div class="p-6">
                    <h3 class="text-2xl font-bold text-center dark:text-steel">Custom Backlit Macropad</h3>
                    <hr class="my-4 border-gray-600">
                    <p class="text-center text-sm dark:text-steel">A custom macropad keyboard PCB, laser cut case, and QMK firmware.</p>
                    <p class="text-center text-sm dark:text-steel mt-2">Everything designed completely from scratch in Altium and TinkerCAD to host a keyboard-building event. Go give it a ⭐ on GitHub!</p>
                </div>
            </a>

            <!-- Post 5 -->
            <a href="/projects/ethics-essay" class="relative rounded-3xl shadow-lg transform hover:scale-105 transition duration-300 bg-gradient-to-t from-steel to-[#444444] border-l-4 border-b-4 border-[#444444] overflow-hidden">
                <img src="/static/images/featured/ethics.png" alt="Q&A" class="w-full h-52 object-cover">
                <div class="p-6">
                    <h3 class="text-2xl font-bold text-center ">Maguire Ethics Essay</h3>
                    <hr class="my-4 border-gray-600">
                    <p class="text-center text-sm">Fake it 'till You Make it: the Morality of Con Mans.</p><br/>
                    <p class="text-center text-sm">The underdog story of how I won the University's largest essay contest.</p>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock %}
